<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>Bob So Rich</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    </head>
    <body>
        <nav>
            <ul class = "no-bullets">
                <li><a href="{{ url_for('home') }}">Homepage</a></li>
                <li><a href="{{ url_for('users') }}">Users</a></li>
                <li><a href="{{ url_for('books') }}">Books</a></li>
                <li><a href="{{ url_for('category') }}">Categories</a></li>
                <li><a href="{{ url_for('books_available') }}">Available</a></li>
                <li><a href="{{ url_for('books_rented') }}">Rented</a></li>
            </ul>
        </nav>
        {% block content %}
        {% endblock %}
    </body>
</html>